<!doctype html>
<html lang="en-gb" prefix="og: http://ogp.me/ns#">
{% include head.html %}

<body>
    {% include service-worker.html %}
    <div class="s-hide" id="enter">
        <h4>
            Don't try to <b>Escape</b> it.<br><b>Enter</b> it.
        </h4>
    </div>
    <div class="grid">
        {% include header.html %}
        <div class="col col-12-of-12 right" id="intro">
            <h2>UCL-ELEC0136</h2>
            <h1>Data Acquisition and Processing Systems</h1>
        </div>
        <div class="col col-9-of-12 col-s-4-of-4 right">            
            Welcome to the material of the _Data Acquisition and Processing Systems_ (DaPS) course ELEC0136 at UCL.
            We are going to use GitHub Classroom to manage the programming exercises and final assignment.
            Since the final graded assignment will be managed through GitHub Classroom, it is strongly recommended to familiarise with the environment:
            <ul style="list-style-type:none;">
                <li>How to use GitHub and GitHub classroom</li>
                <li>How to accept your assignments</li>
                <li>How to commit code with your solutions</li>
                <li>How to ask for help and review</li>
            </ul>
        </div>


        <div class="col col-12-of-12 right" id="trajectory">
            <h3> Trajectory</h3>
            <div class="row right">
                <div class="col col-3-of-12 col-s-4-of-4 right">
                    <p>
                        In 2020 I joined the <a href="https://laspucl2016.com">Learning and Signal Processing (LASP)</a> group at UCL as a PhD student.
                        Under the supervision of <a href="https://www.ucl.ac.uk/iccs/dr-laura-toni">Laura Toni</a> and
                        <a href="https://rockt.github.io/">Tim Rocktäschel</a>, my focus is on Continual Learning within the
                        Multiagent Reinforcement Learning paradigm.
                    </p>
                    <br>
                </div>
                <div class="col col-3-of-12 col-s-4-of-4 right">
                    <p>
                        In 2019 I joined the <a href="http://www.bici-lab.org/team/">Biologically-Inspired Computation and Inference Lab (BICI)</a>
                        at the Imperial College with a postdoc position funded by the Rosetrees Trust.
                        Under the supervision of <a href="https://www.imperial.ac.uk/people/a.bharath">Anil Anthony Bharath</a>
                        and <a href="https://www.imperial.ac.uk/people/c.cantwell">Chris Cantwell</a>, I conducted research to shorten
                        the computational time for predictive modelling of surgical interventions in cardiology.
                        I used deep learning to infer approximate solutions in about 1% of time necessary to canonical methods
                        The project is a <a href="https://www.imperial.ac.uk/nhli/research/electrocardiomaths-programme/">multidisciplinary initiative</a>
                        that brings together the National Heart and Lung Institute,
                        and the Departments of Bioengineering, Aeronautics, Computing and Physics to address key challenges
                        in the diagnosis and treatment of complex cardiac arrhythmias.
                    </p>
                    <br>
                </div>
                <div class="col col-3-of-12 col-s-4-of-4 right">
                    <p>
                        In 2017 I joined <a href="https://www.burohappold.com/specialisms/computational-engineering/">BuroHappold Engineering</a>,
                        where I improved my skills in software architecture, supporting on the framework architecture
                        and designing the user interface of the <a href="https://bhom.xyz">BHoM</a>. I specialised in Machine Learning, and in 2018
                        I led the applied research in Machine Learning and Decision Making. I worked to democratise the access
                        to Deep Learning technologies to allow every employee to access the knowledge and the tools. I used Visual Programming,
                        a recognised and diffused tool for design, to create a framework that interoperates between the most common deep learning libraries,
                        tensorflow, keras, pytorch, numpy.
                    </p>
                    <br>
                </div>
                <div class="col col-3-of-12 col-s-4-of-4 right">
                    <p>
                        In 2015 I defended the thesis <a href="https://www.youtube.com/watch?v=ViD2glBrBYM">
                        “Computational morphogenesis and construction of an acoustic shell for outdoor chamber music”</a>.
                        Implementing numerical methods that uses geometrical acoustics, computational physics, descriptive geometry and genetic algorithms,
                        the work established the state of the art for generative method of passive acoustic shell for outdoor classical music.
                        </p>
                        <br>
                        <p>
                        In 2014 I joined <a href="https://www.gridshell.it/">Gridshell.it</a>, earlier as Intern and later as a Computational Design Specialist.
                        Gridshell.it is an <italian-based></italian-based> research firm that specialises in computational design.
                        We studied how multi-objective optimisation and evolutionary algorithms can be employed
                        to transform traditional, ancient building techniques into cost-effective and culture-preserving options.
                    </p>
                </div>
            </div>
            <!-- <div class="col col-1-of-12 right" id="nav">
                <a class="fas fa-chevron-down large fade noborder" href="#cv"></a> -->
            <!-- </div> -->
        </div>
        <!-- <div class="col col-12-of-12 right" id="cv">
            <h3>Curriculum Vitae</h4>
        </div> -->
    </div>
    {% include footer.html %}
</body>

</html>
